#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0px 20px;
}
.navbar-barand img{
    height: 40px;
    
    
}
.navbar-nav li a{
    font-size: 18px;
   float: right;
   text-align: left;
    

}
.navbar-nav li{
    padding: 0px 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
}
.fa-bars{
    color: white;
    font-size: 30px;
}
.navbar-toggler {
    outline: none;
}
/*-------------------bannar section---------------------*/


#bannar{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: white;
    padding-top: 4%;
}

.poromo-titile{
   font-size: 40px;
   font-weight: 600;
   margin-top: 159px;
}
.play-btn{
    width: 45px;
    margin: 20px;
}
#bannar a{
    color: white;
    text-decoration: none;
}
.bannar-bottom{
    width: 100%;
}
.col-md-4 img{
    height: 150px;
    width: 150px;
    margin: auto;
}
.col-md-4{
    padding-bottom: 10px;
}
.col-md-4 h4{
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
    color: white;
    padding: 10px 0;
   
}
#service{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}
#service p{
    color: rgb(187, 171, 171);
}
#service hr{
    border-top: none;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.col-md-12{
    color: white;
    padding-bottom: 90px ;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: -2px -3px 39px black;
    letter-spacing: 21px;

}
#about-us{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}
.about-titile{
    color: white;
    padding-bottom: 100px ;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: -2px -3px 39px black;
    letter-spacing: 21px;

}
.about-mini-titile{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    
}
.col-md-6 ul{
    margin-top: 53px;
}
.col-md-6 ul li {
    color: rgb(191, 215, 231);
    padding: 16px;
    list-style-type: initial ;
}


#testimonials{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding-bottom: 150px ;
    
}


 .testimonials img {
    height: 60px;
    width: 60px ;
    border-radius: 50%;
    margin: 5px 10px;

} 

.testimonials{
    border-left: 5px solid white ;
}
.user{
    display: inline-block;
    color: white;
}
.testimonials h6{
    color: rgb(238, 232, 221);
}
#social{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding-bottom: 110px;
}

.social-icon img{
    width: 50px;
    margin: 0px 5px;
    transition: 0.5s;


}
.social-titile{
    color: white;
    padding-bottom: 10px ;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: -2px -3px 39px black;
    letter-spacing: 2px;
    font-size: 33px;


}
.social-icon a:hover img{
    transform: translateY(-10px);
}


#foter{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    
}
.foter-box img{
    height: 36px;
    

}
.foter-box{
    padding-bottom: 30px;
}
.paragraph{
    margin-top: 8px;
    color: rgb(141, 136, 136);
}
.contact-us{
    text-align: center; 
    font-size: 25px ;
    color: white;
}
.foter-box2 .fa{
    font-size: 22px ;
    margin-right: 8px;
    color: white;
}
.foter-box2 p{
    color: rgb(141, 136, 136);
    margin-top: 15px;
    margin-left: 34px;
}
.foter-box3 h5{
    color: white;
    font-size: 25px;

}
.form-control{
    width: 280px;
    background: transparent;
    margin-top: 20px;
}
.btn{
    width: 100px;
    margin-top: 10px;
    border: none;
    box-shadow: 0px !important;
    background-image: linear-gradient(to right, #a517ba,#5f1782) ;
    border-radius: ;

}